@model EntidadesVentas.Producto.DT_Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DT_Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cProducto" class="control-label"></label>
                <input asp-for="cProducto" class="form-control" />
                <span asp-validation-for="cProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cPrecioProd" class="control-label"></label>
                <input asp-for="cPrecioProd" class="form-control" />
                <span asp-validation-for="cPrecioProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nCantidadProd" class="control-label"></label>
                <input asp-for="nCantidadProd" class="form-control" />
                <span asp-validation-for="nCantidadProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cDescripcion" class="control-label"></label>
                <input asp-for="cDescripcion" class="form-control" />
                <span asp-validation-for="cDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuReg" class="control-label"></label>
                <input asp-for="idUsuReg" class="form-control" />
                <span asp-validation-for="idUsuReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dFechaReg" class="control-label"></label>
                <input asp-for="dFechaReg" class="form-control" />
                <span asp-validation-for="dFechaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuMod" class="control-label"></label>
                <input asp-for="idUsuMod" class="form-control" />
                <span asp-validation-for="idUsuMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dFechaMod" class="control-label"></label>
                <input asp-for="dFechaMod" class="form-control" />
                <span asp-validation-for="dFechaMod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="lVigente" /> @Html.DisplayNameFor(model => model.lVigente)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
